.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 1rem 0;
  position: relative;
}

.step {
  background-color: #d1e7dd;
  color: #0f5132;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
}

.step-item.active .step {
  background-color: #198754;
  color: white;
}

.step-item.complete .step {
  background-color: #198754;
  color: white;
}

.btn {
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #198754;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
